@import '../utils/mixins.scss';

.allnews{
    background-color: #f6a98b;
    border: 5px solid #010101;
    border-radius: 15px;
    box-shadow: 14px 2px 46px 10px #80475d;
    margin: 20px;
    max-width: 400px;
    min-height: 400px;
}


.btn{

    font-size: 20px;
    border: 2px solid brown;
}