@import '../utils/mixins.scss';



.notices{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.topics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(1, 1, 1);
    margin: 10px;
    max-width: 50%;
    min-height: 250px;
    border-radius: 15px;
    flex-wrap: wrap;
}


.searcher{
    border: 2px solid black;
    border-radius: 3px;
}